@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    font-family: "Oswald";
    color: darkblue;
    text-align: center;
    font-size: 4vw;
}

.navbar {
    background-color: black
}

.navbar-brand{
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

.nav-link {
    color: white;
}

.card {
    text-align: center;
    margin-left: 5.25em;
}

.card-image-top {
    display: block;
    width: 75%;
    height: auto;
}

.card-body {
    display: block;
    padding: 10px;
}

.btn-primary {
    padding: 10px;
    margin: 10px;
}

.footer-first {
    padding: 5px;
    margin: 10px;
    background-color: black;
}

/* .customClass, #customId */

div.homeBtn {
    text-align: center;
}

ul.resource {
    text-align: center;
}

a[href="https://www.w3schools.com/bootstrap5/bootstrap_cards.php"] {
    background: green;
}

#test{
    color: blue;
}

.buttonColor {
    background-color: blue;
    color: black;
}

ul {
    list-style-type: none;
}

.resources {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#resourceLink {
    padding: 10px;
    text-align: center;
    color: green;
}

#projectPics {
    display: block;
    margin: auto;
    padding: auto;
}